{% set navname = 'navadm' %}
{% extends "base.html" %}
{% block content %}
<form action="" method="post" novalidate>
	<div class="columns">
		<div class="column col-2 col-mr-auto">
			<ul class="menu">
				{% if subname =='typenews' %}
					<li class="tab-item"><a class="btn btn-link active" name='typenews' href='/admin/type/news'>Тип новостей</a></li>
				{% else %}
					<li class="tab-item"><a class="btn btn-link" name='typenews' href='/admin/type/news'>Тип новостей</a></li>
				{% endif %}
				{% if subname =='links' %}
					<li class="tab-item"><a class="btn btn-link active" name='links' href='/admin/links'>Ссылки</a></li>
				{% else %}
					<li class="tab-item"><a class="btn btn-link" name='links' href='/admin/links'>Ссылки</a></li>
				{% endif %}
				{% if subname =='typelinks' %}
					<li class="tab-item"><a class="btn btn-link active" name='typelinks' href='/admin/type/links'>Тип ссылок</a></li>
				{% else %}
					<li class="tab-item"><a class="btn btn-link" name='typelinks' href='/admin/type/links'>Тип ссылок</a></li>
				{% endif %}
				{% if subname =='users' %}
					<li class="tab-item"><a class="btn btn-link active" name='users' href='/admin/users'>Пользователи</a></li>
				{% else %}
					<li class="tab-item"><a class="btn btn-link" name='users' href='/admin/users'>Пользователи</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="column col-ml-auto">				
			{% block body %}{% endblock %}
		</div>	
	</div>
</form>
{% endblock %}