{% extends 'admin.html' %}
{% block body %}
<script src={{ url_for('static',filename='js/links.js') }}></script>

<form action='' method='post' novalidate>
	<div class='columns'>	
		<div class='column col-8 col-mr-auto'>
			<button type='submit' class='btn btn-link' name='addlink'><i class='icon icon-plus'></i> Добавить</button>
			<div class='column col-4'>
				<label for='typeotd'>тип ссылок</label>
				<select id='typelink' name='typelink' class='form-select' onchange='ch_type(); get_links();'>
				<option value=''>не выбрано</option>	
				{% for el in types %}
					<option value={{ el }}>{{ types[el] }}</option>	
				{% endfor %}
				</select>
			</div>
			{% with messages = get_flashed_messages() %}
			   {% if messages %}
			      {% for message in messages %}
			         {{ message }}
			      {% endfor %}
			   {% endif %}
			{% endwith %}
			<table id='listlinks' class='table table-striped table-hover'>
				<thead>				
				<tr class='text-center'>
					<th>наименование</th>
					<th>полный адрес</th>
					<th>тип</th>
					<th>активная</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody id='list'><tbody>
			</table>        
		</div> 
	</div>
</form>
{% endblock %}