{% extends 'admin.html' %}
{% block body %}
	<div class='column col-8 col-mr-auto'>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
		      {% for message in messages %}
		         {{ message }}
		      {% endfor %}
		   {% endif %}
		{% endwith %}
		<button type='submit' class='btn btn-link' name='addtype'><i class='icon icon-plus'></i> Добавить</button>
		<table class='table table-striped table-hover'>
			<tr>
				<th>№</th>
				<th>тип</th>
				<th>активный</th>
				<th></th>
				<th></th>
			</tr>
			{% for t in types %}
				<tr>
					<td>{{ t.ind }}</td>
					<td>{{ t.typename }}</td>
					{% if t.isactive == 1 %}					
						<td>да</td>
					{% else %}
						<td>нет</td>
					{% endif %}
					<td>
						<button type='submit' class='btn btn-link' name='changesub' value={{ t.id }}>
							<i class='icon icon-edit'></i>
						</button>					
					</td>						
					<td>
						<button type='submit' class='btn btn-link' name= 'delsub' value = {{ t.id }}>
							<i class='icon icon-delete'></i>
						</button>					
					</td>
				</tr>
			{% endfor %}
		</table>        
	</div> 
{% endblock %}