 .box {
	display: none;
}
	 
.box.show {
	display: table-row;
}

 td.special {
	padding: .1rem .1rem;
}

 th.special {
 	cursor: pointer;
	padding: .1rem .1rem;
}

th.xl,
td.xl {
  width: 50vw;
}

th.sm,
td.sm {
	text-align: center;
  	width: 25vw;
}
