
 td.special {
	padding: .1rem .1rem;
}

 th.special {
 	cursor: pointer;
	padding: .1rem .1rem;
}

th.xl,
td.xl {
  width: 50vw;
}

th.sm,
td.sm {
  	width: 5vw;
}

th.but,
th.pop,
td.but,
td.pop {
  	width: 35px;
  	border-bottom: .0rem;
}

a.linksotd {
	text-align: left;
	text-decoration: none;
	white-space: pre-wrap;
}

/*размеры для поиска телефонов*/
th.l,
td.l {
  	width: 35vw;
}

th.s,
td.s {
  	width: 15vw;
}
