{% set navname = 'navphones' %}
{% extends "base.html" %}
{% block content %}
 	<script src={{ url_for('static',filename='js/phones.js') }}></script>  	
	{% if session.user and 'SYS' in session.user.roles %}
		<script>
			function clicktr(idtr) {
				if ($("td.but", $('#'+idtr)).length == 0) {
					$(".but", $('table')).remove();					
					$('#'+idtr).append(`<td class="special but">
												<button type="submit" class="btn btn-link cell" name="changesub" value=${idtr}><i class="icon icon-edit"></i></button>
											</td>`);				   		
					$('#'+idtr).append(`<td class="special but">
												<button type="submit" class="btn btn-link cell" name="delsub" value=${idtr}><i class="icon icon-delete"></i></button>
											</td>`);				   		
		 		}
			}
		</script>
	{% else %}	
		<script>
			function clicktr(idtr) {
			}
		</script>
	{% endif %}
	<form class='form-horizontal' action='' method='post' novalidate>
		<div id='headblock' class='columns'>
			<div class='column col-8 col-mx-auto'>
				<div class='form-group'>
					<div class='column col-3'>	
						<label for='fil'>филиалы</label>
						<select id='fil' name='fil' class='form-select' onchange='changesel(); selotd();'>
						{#<option value="">не выбрано</option>#}
						{% for el in fil %}
							<option value={{ el }}>{{ fil[el] }}</option>	
						{% endfor %}
						</select>
					</div>
					<div class='column col-3'>
						<label for='typeotd'>тип отделения</label>
						<select id='typeotd' name='typeotd' class='form-select' onchange='changesel(); selotd();'>
						<option value=''>не выбрано</option>	
						{% for el in types %}
							<option value={{ el }}>{{ types[el] }}</option>	
						{% endfor %}
						</select>
					</div>
					<div class='column col-6'>
						{#<label for 'search'>поиск по ключевым словам</label>#}
						<span>поиск по ключевым словам</span>
						<div class='input-group'>
							<input id='search' type='text' class='form-input'/>
							<button id='searchbtn' type='button' class='btn btn-primary input-group-btn' onclick='searchph();'><i class="icon icon-search"></i></button>	
							<button id='searchclear' type='button' class='btn btn-primary input-group-btn' onclick='clearsearch();'><i class="icon icon-cross"></i></button>	
						</div>
					</div>
				</div>
		{% if session.user and 'SYS' in session.user.roles %}
			<button type='submit' class='btn btn-link cell' name='addsub'><i class='icon icon-plus'></i> Добавить</button>
		{% endif %}
			</div>
			</div>
			<br>
		<div id='otdels' class='columns otdels'>	
			<div class='column col-4' id="otdeleniya1"></div>
			<div class='column col-4' id="otdeleniya2"></div>
			<div class='column col-4' id="otdeleniya3"></div>
		</div>
	</form>
{% endblock %} 
