{% extends 'base.html' %}
{% set navname='navfaq' %}
{% block content %}
	<div class='column col-8'>
		<h4>{{ title }}</h4>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form action='' method='post' novalidate>
		<div class='form-group'>
			{% for field in form %}
				<div class='column col-10'>
					{{ field.label }} 
					{{ field }}
					{% for error in field.errors %}
					<span class='text-error'>[{{ error }}]</span>
					{% endfor %}
				</div>
			{% endfor %}
		<br>
		</div>
		<div class='panel-footer'>
			<button type='submit' class='btn btn-primary' name='save'>Сохранить</button>
			<button type='submit' class='btn' name='back'>Отмена</button>
		</div>
		</form>
	</div> 
{% endblock %}