<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href={{ url_for('static',filename='css/spectre.css') }} type="text/css" >
		<link rel="stylesheet" href={{ url_for('static',filename='css/spectre-exp.css') }} type="text/css" >
		<link rel="stylesheet" href={{ url_for('static',filename='css/spectre-icons.css') }} type="text/css" >
		<link rel="stylesheet" href={{ url_for('static',filename='css/schedule.css') }} type="text/css" >
		<link rel="stylesheet" href={{ url_for('static',filename='css/phones.css') }} type="text/css" >
 		<script src='//static.iood.ru/jquery/3.4.1/jquery.min.js'></script>
		{% if session.user and 'SYS' in session.user.roles %}
		<script src={{ url_for('static',filename='tinymce/tinymce.min.js') }}></script>		
 		<script>tinymce.init({
  									selector:'textarea#redactor', 
   								plugins: ["advlist autolink lists link image charmap print preview anchor", 
  												"link searchreplace visualblocks code fullscreen insertdatetime",
  												"media table paste code help wordcount"],
  									toolbar: 'undo redo | formatselect | ' +
  												' bold italic backcolor | alignleft aligncenter ' +
  												' alignright alignjustify | bullist numlist outdent indent |' +
  												' removeformat | link | help',
  									language: "ru"
									});
		</script>
   	{% endif %}
		<script type="text/javascript">
			function logout() {
					     $.ajax({
				        type: 'post',
				        url: '//auth.iood.ru/user/logout',
				        headers: {'X-Requested-With': 'XMLHttpRequest'},
				        xhrFields: {withCredentials: true},
				        crossDomain: true
				      }).done(function(resp) {
		 					$('#logout').attr('href', '/login').text('Вход');
							location.reload();										
				      });	
			 }
		</script>  	
	   <script type="text/javascript">
	       window.addEventListener("DOMContentLoaded", function() {
		            var nodes = document.querySelectorAll(".parent");
		            var num_scroll;
		            [].forEach.call(nodes, function(tr) {
		                var box = [],
		                    next = tr.nextElementSibling;
		                while (next && next.classList.contains("box")) {
		                    box.push(next);
		                    next = next.nextElementSibling;
		                }
		                tr.querySelector("td a").addEventListener("click", function(event) {
		                 event.preventDefault();
		                 box.forEach(function(item){
		                 item.classList.toggle("show");
		                });
		                tr.scrollIntoView();
		                },false)
		            })
		        });	    
		</script>
	</head>
	<body>
		{#{{ session['sid'] }}#}
		<div class="container">
			<div class="columns">
				<div class="column col-1 col-mr-auto">
					<a name="navindex" href="/" ><img src={{ url_for('static',filename='img/med.png') }} alt={{ url_for('static',filename='img/med.png') }} width=70%></a>
				</div>
				<div class="column col-11 col-mr-auto">
					<nav class="navbar">
						<section class="navbar-section">
							{% if navname == 'navindex' %}
								<a name="navindex" href="/" class="btn active">Техническая страница</a>
							{% else %}
								<a name="navindex" href="/" class="btn btn-link">Техническая страница</a>
							{% endif %}
							{% if navname == 'navschedule' %}							
								<a name="navschedule" href={{ url_for('calendar.start_page') }} class="btn active">Расписание конференц-зала</a>
							{% else %}
								<a name="navschedule" href={{ url_for('calendar.start_page') }} class="btn btn-link">Расписание конференц-зала</a>
							{% endif %}
							{% if navname == 'navfaq' %}							
								<a name="navfaq" href={{ url_for('instructions.start_page') }} class="btn active">Инструкции</a>
							{% else %}
								<a name="navfaq" href={{ url_for('instructions.start_page') }} class="btn btn-link">Инструкции</a>
							{% endif %}
							{% if navname == 'navphones' %}							
								<a name="navphones" href={{ url_for('phonebook.phones') }} class="btn active">Телефонный справочник</a>
							{% else %}
								<a name="navphones" href={{ url_for('phonebook.phones') }} class="btn btn-link">Телефонный справочник</a>
							{% endif %}
							{% if session.user and 'SYS' in session.user.roles %}
								{% if navname == 'navadm' %}
									<a name="navadm" href={{ url_for('admin.start_page') }} class="btn active">Администрирование</a>
								{% else %}
									<a name="navadm" href={{ url_for('admin.start_page') }} class="btn btn-link">Администрирование</a>
								{% endif %}
							{% endif %}
						</section>
						<section class="navbar-section">							
							{% if session['user'] %}
								<button id='logout' class='btn btn-link' onclick='logout()'>{{ session['user']['sign'] }} | Выход</button>
							{% else %}
								<a id='logout' href={{ url_for('auth.login') }} class='btn btn-link'>Вход</a>
							{% endif %}

						</section>
					</nav>
				</div>
			</div>
			<br>		
			{% block content %}{% endblock %}
		</div>
	</body>
</html>